<!DOCTYPE html>
<html>
    <head>
        <title>
            My first web page 
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        
    </head>  
    <body>
        <h> This is our Recipe Website!</h>
        <img src="{{ url_for('static', filename='images/fb86662148be855d931b37d6c1e5fcbe.jpeg') }}" alt="Stock Market Image" class="centered-image">
        <p>@Cessy,Mich</p>
        <p> Food Lovers</p>
    </body>
</html>